<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>法条推荐系统</title>
	<link rel="stylesheet" href="../../static/css/common.css"/>
	<script src="../../static/js/jquery.min.js"></script>
    <style>
        .asas {font-size: 25px;margin:10px}
        .asas {font-size: 25px;margin:10px}
    </style>
</head>
<body>
	<div id="wrapper">
		<div class="skinBg" style="background-image: url('../../static/images/背景.jpg');"></div>
		<div class="content tc">
			<br></br>
			<br></br>
			<h1 style="font-size: 40px">推荐结果</h1>
			<br></br>
		    <ul style="list-style-type:disc">
		     <li class="asas" id="1th">{{ content }}</li>
		     <li class="asas" id="2th">{{ ay }}</li>
		     <li class="asas" id="3th">{{ CaiPanJieGuo }}</li>
		     <li class="asas" id="4th">{{ law }}</li>
            </ul>
		</div>
	</div>
	<script src="../../static/js/jquery.min.js"></script>
	<script src="../../static/js/jquery.autocomplete.min.js"></script>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</body>
</html>